<h1 class="display-1 text-center" > <%= titulo %> </h1>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Crear user</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Crear post</a>
  </li>
</ul>